$white: #ffffff;
$black: #000;
// PALETTE
$dark: #212529;
$darkengrey: #343a40;
$darkgrey: #495057;
$grey: #6c757d;
$lightgrey: #adb5bd;
$lightergrey: #ced4da;
$smokygrey: #dee2e6;
$smokywhite: #e9ecef;
$whitesmoke: #f8f9fa;


$green: #017227;
$pink: #ff8080;
$purple: #b872d1;
$yellow: #f8c027;
$lightblue: #2757f8;
$cleanPurple: #4f659f;
$orange: #a03300;

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');