.header-view {
    .user-icon {
        position: absolute;
        top: 3%;
        right: 7%;
        width: 70px;
        height: 70px;
        color: $whitesmoke;
        padding: 10px;
        border: 2px solid $darkgrey;
        border-radius: 50%;
        &:hover {
            color: $darkgrey;
            border: 2px solid $whitesmoke;
            width: 75px;
            height: 75px;
            transition: 0.5s;
        }
    }
    .logo {
        position: relative;
        width: 80px;
        border-radius: 50%;
        transform: rotate(-50deg);
        margin-top: 30px;
        margin-left: 30px;
        h1 {
            font-size: 15px;
            color: $whitesmoke;
            span {
                font-family: "Lemonada", cursive;
                height: 70px;
                position: absolute;
                width: 20px;
                left: 0%;
                top: 0%;
                transform-origin: bottom center;
            }
            @for $i from 1 through 9 {
                .char#{$i} {
                    transform: (rotate(($i * 10.5) + deg));
                }
            }
        }
    }
    .facebook-view {
        position: absolute;
        top: 3%;
        right: 7%;
        .container {
            display: flex;
            flex-direction: row-reverse;
        }
    }
    .profil-link{
        text-decoration: none;
        position: relative;
        left: 50%;
        color: $smokywhite;
        font-family: 'Lemonada', cursive ;
        &:hover{
            color: $grey;
        }
    }
}
@media screen and (max-width: 450px) {
    .header-view {
        .facebook-view {
            position: absolute;
            top: 14%;
            right: 7%;
        }
    }
}
