.menu-view {
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 20vh;
    width: 14vw;
    padding: 30px;
    /* Remove IE arrow */
    select::-ms-expand {
        display: none;
    }
    /* Custom Select */
    .select {
        position: relative;
        display: flex;
        width: 100%;
        height: 50px;
        line-height: 3;
        background: $darkgrey;
        overflow: hidden;
        border-radius: 0.25em;
        margin-bottom: 25px;
    }
    /* Arrow */
    .select::after {
        content: "\25BC";
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: $darkgrey;
        cursor: pointer;
        pointer-events: none;
        -webkit-transition: 0.25s all ease;
        -o-transition: 0.25s all ease;
        transition: 0.25s all ease;
    }
    /* Transition */
    .select:hover::after {
        color: $lightgrey;
    }
    select {
        margin-bottom: 15px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: $darkgrey;
        background-image: none;
        flex: 1;
        padding: 0 0.5em;
        color: $white;
        cursor: pointer;
        font-weight: 900;
    }
    input {
        margin-bottom: 30px;
        background-color: $darkgrey;
        outline: 0;
        border: none;
        width: 100%;
        height: 50px;
        border-radius: 0.25em;
        padding: 10px;
        color: $white;
        font-weight: 900;
    }
    button {
        border: none;
        background-color: $smokygrey;
        color: $darkgrey;
        font-weight: 900;
        width: 50%;
        height: 30px;
        margin-left: 50%;
        border-radius: 0.25em;
        &:hover{
            background-color: $darkengrey;
            color: $whitesmoke;
        }
    }
}

@media screen and (min-width: 451px) and (max-width: 1025px) {
    .menu-view {
        display: flex;
        flex-direction: column;
        float: left;
        margin-top: 0vh;
        padding: 30px;
        width: 50%;
        margin-left: 25%;
    }
}
@media screen and (max-width: 450px) {
    .menu-view {
        margin-top: 0vh;
        width: 100%;
        margin-left: 0%;
    }
}
